.CreatureItem {
  list-style: none;
  background: white;
  border: 1px solid hotpink;
  padding: 10px;

  display: grid;
  grid-template-rows: 30px, 120px, 20px;
  grid-gap: 10px;

  justify-items: center;

}

.CreatureItem h2 {
  margin: 0;
}

.CreatureItem img {
  height: 60%;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.CreatureItem p {
  margin: 0;
  font-size: 1.5rem;
  display: grid;
  align-items: flex-end;
  font-weight: bolder;
  color: blueviolet;
}